services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: beancount-telegram-bot:latest
    container_name: beancount-telegram-bot
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    ports:
      - "8000:8000"
    restart: unless-stopped
    command: ["pdm", "run", "runserver"]
